<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="<%= mix('/assets/css/app.css') %>">
  <link rel="stylesheet" type="text/css" 
            href="http://yui.yahooapis.com/3.18.1/build/cssreset-context/cssreset-context-min.css">

  <!-- googlefonts -->
  <link href="https://fonts.googleapis.com/css?family=Lato:300,400|Prata&display=swap" rel="stylesheet">
  
  <title><%= title %></title>
</head>

<body>
  <header>
    <div id="logo-icon">
        <a id="I" href="<%= mix('/') %> ">
            <img src="<%= mix('/assets/images/logo.png')%>">
        </a>
    </div>
    <div class="hamburger-icon">
      <span class="hamburger-icon--top"></span>
      <span class="hamburger-icon--middle"></span>
      <span class="hamburger-icon--bottom"></span>
  </div>
  </header>