<nav class="menu">
    <ul>
        <li><a id="top" href="<%= mix('/') %>">TOP</a></li>
        <li><a id="work" href="<%= mix('/work/') %>">WORK</a></li>
        <li><a id="about" href="<%= mix('/about/') %>">ABOUT</a></li>
        <li><a id="contact" href="<%= mix('/about/') %>">CONTACT</a></li>
    </ul>
  </nav>