<nav class="menu">
    <ul>
        <li><a id="menu__top" href="<%= mix('/') %>">TOP</a></li>
        <li><a id="menu__work" href="<%= mix('/work/') %>">WORK</a></li>
        <li><a id="menu__about" href="<%= mix('/about/') %>">ABOUT</a></li>
        <li><a id="menu__contact" href="<%= mix('/about/') %>">CONTACT</a></li>
    </ul>
  </nav>