.top__contents--laterP5{
    display: none;
}
#top__title{
    position: absolute;
    @include pc{
        top: 44vh;
        left: 18vw;
        width: 320px;
    }
    @include sp{
        top: 42vh;
        left: 0;
        right: 0;
        margin: auto;
        width: 300px;
        
    }
    img{
        width: 100%;
    }
}