// アバウトページ
#overlay{
    top: 0;
    left: 0;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: rgba($color: #ffffff, $alpha: 0.6);
    z-index: -1;
    @include sp{
        display: none;
    }
}
.about-wrapper{
    left: 0;
    right: 0;
    margin: auto;
    font-family: 'Lato',sans-serif;
    @include pc{
        width: 70vw;
    }
    @include sp{
        width: $work-width-sp;
    }
    h1{
        font-size: 28px;
        font-weight: 300;
        margin: 14px 0;
    }
    .about-text,.about-skills,.about-message{
        width: 100%;
        p{
            margin: 26px auto 60px;
            width: 96%;
        }
        
    }
    .about-skills{
        font-size: 20px;
        font-weight: 200;
    }
    .about-message{
        @include pc{
            margin: 140px auto;
        }
        @include sp{
            margin: 60px auto;
        }
        
    }
    #contact-top{
        padding-bottom: 100px;
        // #arrow-down{
        //     margin: 36px auto;
        //     width: 12px;
        // }
        // #email-button{
        //     @include pc{
        //         width: 320px;
        //     }
        //     @include sp(){
        //         width: 260px;
        //     }
        // }
        form{
            width: 80%;
            margin: 40px auto;
            right: 0;
            left: 0;
            display: block;
            font-family: 'Lato',sans-serif;
            ul{
                padding: 0;
                li{
                    
                    margin: 60px auto;
                    width: 100%;
                    padding: 10px auto;
                    p{
                        margin: 10px auto;
                        font-size: 22px;
                    }
                    
                    input{
                        font-size: 18px;
                        width: 100%;
                        outline: none;
                        border: none;
                        border-bottom: 1.3px solid $soft-black;
                        appearance: none;
                    }
                    textarea{
                        font-size: 18px;
                        width: 100%;
                        height: 120px;
                        outline: none;
                        border: 1.3px solid $soft-black;
    
                    }
                }
            }
            
            button{
                font-size: 22px;
                width: 140px;
                height: 50px;
                left: 0;
                right:0;
                margin: 100px auto;
                display: block;
                color: $soft-black;
                border: 1.3px solid $soft-black;
                transition: all 0.3s;
                &:hover{
                    background-color: $soft-black;
                    color: rgb(250,250,250);
                }
            }
        }
    }
}