$soft-black :#2d2d2d;
$work-width-pc:76vw;
$work-width-sp:84vw;
$thumb-width-pc:($work-width-pc - 1)/2;

$view-width:100vw;
$side-space-sum:200px;

$pc: 1024px; // PC
$tab: 680px; // タブレット
$sp: 480px;  // スマホ

@import url('https://fonts.googleapis.com/css?family=Lato:300,400|Prata&display=swap');

@mixin pc {
  @media (min-width: ($pc)) {
    @content;
  }
}
@mixin tab {
  @media (max-width: ($tab)) {
    @content;
  }
}
@mixin sp {
  @media (max-width: ($sp)) {
    @content;
  }
}

body{
    margin: 0;
}



#background{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height:100vh;
    background-color: rgb(250,250,250);
    z-index: -100;
}


#defaultCanvas0{
    z-index: -20;
    top: 0;
    position: fixed;
    transition: 1.2s;
}

a{
    color: $soft-black;
    text-decoration: none;
}
p{
    color: $soft-black;
}
ul{
    list-style: none;
}
*{
    letter-spacing: 1.1px;
}
h1,h2,h3{
    font-family: 'Lato',sans-serif;
}
h1{
    letter-spacing: 2.2px;
}




//------------------
